* {
    margin:unset;
    padding:unset;
    box-sizing: border-box;
}


body {
    background-color: $neutralcolor-palebluegrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    color: $darkcolor-darkblue;
    font-family: $LibreBaskerville;

    .wrapper {
        text-align: center;
    }
    
}

header {
    padding: 5vh 1rem;

    nav, ul.main-nav {
        font-size: 17px;
    }
    li{ 
        background-color: $neautral-greenpastel;
        border-radius: 10px;
        margin: 10px 25px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        font-weight: 500;  

    }
    
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .promotional-banner {
        padding-bottom: 1.5rem;
    }
}


.header-wrapper {
    
    .main-nav {
        list-style: none;
    }
    
}

.content-wrapper {
    text-align: center;
    margin: 1em; 
    padding: 1.5rem 30px;

    .col {
        padding: 10px;
    }
    
}

#title, #contact {
    text-transform: uppercase;
    font-size: 1.2rem;
}

#title {
    margin-top: 20px;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
   }

.bg-img {
    background: url("/images/2.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100vh;
    
}



.row {
    .content-headings {
        font-size: 1.75rem;
        font-weight: 400;
    }
}

footer {
    padding: 1rem;

    .copyright {
        float: left;
        padding: 2rem;
    }

    .back-top {
        float: right;
        padding: 2rem;
    }
}

.contact-text {
    padding: 1.2rem ;
}

a:link, a:visited {
    text-decoration: none;
    color: $darkcolor-darkblue;
}


