@media screen and (min-width: 768px) {

}

@media  only screen and (min-width:1024) {
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col .primary-column {
        flex: 1 30%;
    }
}