//google fonts import

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

$LibreBaskerville: "Libre Baskerville", sans-serif;


//colors

$neutralcolor-palebluegrey: hsl(240, 3%, 88%);

$darkcolor-darkblue: hsl(221, 95%, 14%);